h2 {
  padding: 2em;
}

.deck {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 0;
}

.card-container {
  cursor: pointer;
  width: min(33%, 200px);
  height: min(33%, 200px);
  border: 2px solid;
  border-color: #f9f9f9;
  border-radius: 1em;
  overflow: hidden;
  & img {
    border-radius: 1em;
    width: 100%;
  }

  &:hover {
    background-color: darkgray;
  }
}

.lightsaber {
  width: 3em;
  height: 3em;
  fill: #242424;

  &.done {
    fill: red;
  }
}

@media (prefers-color-scheme: light) {
  .card-container {
    border-color: #242424;
  }
}
