#instructions {
    & > p {
        font-weight: 600;
        font-size: 1.6rem;
        padding-bottom: 1rem;
    }

    & div {
        padding: 0.5rem;
    }
}

#difficulty {
    & div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        width: 100%;
        padding: 1rem;
    
        & button {
            border-radius: 50%;
            height: 6.2rem;
            width: 6.2rem;
            padding: 1rem;
            font-size: 1.1rem;
            border: none;

            &.selected {
                background-color: bisque;
            }
        }
    }
}

#arrow {
    position: absolute;
    bottom: 0;
    right: 10%;
    animation: wavy 1200ms alternate infinite;
}

@keyframes wavy {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

